*
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img
{
    border: 20px;
}

body{
    
    text-align: left;
    margin-bottom: auto;
    text-decoration: none;
    font-size: larger;
    font-style: normal;
    background-color: mediumblue;
    
}


